@font-face {
    font-family: 'Standard';
    src: url('Standard-BoldItalic.woff2') format('woff2'),
        url('Standard-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Standard';
    src: url('Standard-BookItalic.woff2') format('woff2'),
        url('Standard-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Standard';
    src: url('Standard-Book.woff2') format('woff2'),
        url('Standard-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Standard';
    src: url('Standard-Bold.woff2') format('woff2'),
        url('Standard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
